---
---

@import "just-the-docs-default";

.side-bar {
  padding-left: 0 !important;
}

.site-nav,
.nav-list,
.nav-list-item,
.nav-list-link {
  padding-left: 0 !important;
  margin-left: 0 !important;
}
